# Rename this file to .env

# Get your bot token from https://t.me/botfather
TELEGRAM_BOT_TOKEN=

# YDB database path (https://ydb.tech/docs/ru/concepts/connect#database)
YDB_DATABASE=

# YDB database endpoint (https://ydb.tech/docs/ru/concepts/connect#endpoint)
YDB_ENDPOINT=

# https://yandex.cloud/ru/docs/managed-redis/operations/connect/non-sharded#python
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
